<!DOCTYPE html>
<html ng-app="app">
	<head >	
		<title>Shopping Cart</title>
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">

		<!--Dependencies-->
		<link rel="stylesheet" type="text/css" href="vendor/angular-material/angular-material.css">

		<!--Angular CDNs-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>

		
		<!--Dependencies-->		
		<script src="vendor/angular/angular.js"></script>
	    <script src="vendor/angular-animate/angular-animate.js"></script>
	    <script src="vendor/angular-aria/angular-aria.js"></script>
	    <script src="vendor/angular-material/angular-material.js"></script>
	    <script src="vendor/angular-mocks/angular-mocks.js"></script>
	    
	    <!--Modules-->
	    <script type="text/javascript" src="app/app.js"></script>
	    <script type="text/javascript" src="app/shopping-cart/shoppingcart.module.js"></script>
	    <script type="text/javascript" src="app/inventory/inventory.module.js"></script>
	    <script type="text/javascript" src="app/purchase/purchase.module.js"></script>


	     <!--Controllers-->
	    <script type="text/javascript" src="app/inventory/controllers/inventory.controller.js"></script>
	    <script type="text/javascript" src="app/shopping-cart/controllers/cart.controller.js"></script>
	    <script type="text/javascript" src="app/purchase/controllers/purchase.controller.js"></script>

	     <!--Services-->	    
	   	<script type="text/javascript" src="app/inventory/services/inventory.service.js"></script>
		<script type="text/javascript" src="app/shopping-cart/services/cart.service.js"></script>
	    <script type="text/javascript" src="app/purchase/services/purchase.service.js"></script>
	    

	    <!--Directives-->
	    <script type="text/javascript" src="app/inventory/directives/inventory.directive.js"></script>
   
	 
	</head>
	
	<body>
		<header layout="column">
			<md-toolbar class="md-primary">
				    <h1 class="md-toolbar-tools">
				      <span>Some Book Store</span>
				    </h1>
			  	</md-toolbar>
		</header>		

		<md-content class="container"  class ="md-padding ng-scope md-default-theme">			
			
			<md-content class="inventory" ng-controller="InventoryController as inventory">
				<inventory-content></inventory-content>
			</md-content>

			<md-content class="checkout">

				<div class="cart" ng-controller="CartController">
					<md-toolbar class="md-theme-light">
					    <h1 class="md-toolbar-tools">
					      <span>Cart</span>	
					    </h1>
					    <md-button class="md-raised md-accent" ng-show="count()>0" ng-click="addtoPurchased()">Checkout</md-button>
				  	</md-toolbar>
				  	<md-card>
						<p ng-hide="count()>0">Your Cart is empty</p>						
						<table ng-show="count()>0">
							<tr>
								<th>Item</th>
								<th>Price</th>
								<th>QTY</th>
								<th>Sub Total</th>									
								<th></th>
							</tr>
							<tr ng-repeat="products in getCart()">
								<td>{{products.product.name}}</td>
								<td>{{products.product.price | currency: ""}}</td>
								<td>{{products.incart}}</td>
								<td>{{products.product.price * products.incart| currency: ""}}</td>						
								<td>
									<md-button class="md-warn" ng-click="removeProduct(products.product)">X</md-button>					
								</td>
							</tr>
							<tr>
								<td><b>Total</b></td>
								<td></td>
								<td></td>
								<td><b>{{getTotal()| currency: "₦"}}</b><td>
							</tr>
						</table>
					<md-card>
				</div>

				<div class="purchased" ng-controller="PurchaseController as purchase">
					
					<md-toolbar class="md-theme-light">
					    <h1 class="md-toolbar-tools">
					      <span>Purchased</span>
					    </h1>
				  	</md-toolbar>

				  	<md-card>
						<p ng-show="getPurchase().length === 0">You have not bought any item</p>
						
						<table ng-hide="getPurchase().length === 0">
							<tr>
								<th>Item</th>
								<th>Price</th>
								<th>QTY</th>
								<th>Sub Total</th>
							</tr>
							<tr ng-repeat="items in getPurchase()">
								<td>{{items.product.name}}</td>
								<td>{{items.product.price | currency: ""}}</td>
								<td>{{items.incart}}</td>
								<td>{{items.product.price * items.incart| currency: ""}}</td>				
							</tr>
						</table>
					<md-card>

				</div>

			</md-content>
			<div clear="both"></div>
		</md-content>

		
	
	</body>
</html>