<!--inventory content template -->

<md-card class='items' layout="column" ng-repeat="item in inventory.items" ng-mouseenter="hoverIn()" ng-mouseleave="hoverOut()">
	<img ng-src="{{item.images}}" alt="Washed Out">
	<md-card-content flex flex-order="3">		
		<md-subheader style="text-align: left; margin: 0; padding: 3px;">{{item.name}}</md-subheader>
		<md-subheader  style="text-align: left; margin: 0; padding: 3px;"><b>{{item.price | currency:"₦"}}</b></md-subheader>
		<md-button class="md-raised md-accent"  ng-show="showButton" ng-click="add(item)">Add to Cart</md-button>						
	<md-card-content>
</md-card>